@CHARSET "UTF-8";
body{
	background-color: #CCFFCC;
}
#wrapper{
	margin: 0 auto;
	width: 450px;
}
#top_table{
	background-color: #CCCCFF;
}
#main_table{
	background-color: #CCFFFF;
}
#foot_table{
	margin-top: 10px;
}
.chess_field{
	width:100px;
	height:100px;
}
#x_player, #o_player, #game_result, .top_middle{
	width: 97px;
	height: 35px;
	font-family: Helvetica;
	font-size: 15px;
	font-weight:bold;
	color: #000099;
}
#new_game{
	width: 104px;
	height: 30px;
}
#foot_td{
	font-family: Helvetica;
	font-size: 12px;
}
